<div class="container">
    <div class="row backRow">
        <a class="btn" routerLink="/home">Back</a>
    </div>


    <div class="row">
        <h3>Welcome To Admin </h3>
    </div>

    <br/>
    
   
        
        <div class="row" >
            <h5>Select the option</h5>
          <button style="width:25%" class="btn "> <a a href=""  routerLink="/AddTeacher">Add Teacher</a></button>
          <button style="width:25%" class="btn "><a href="" routerLink="/RemoveTeacher">Remove Teacher</a></button>
         
          <button style="width:25%" class="btn "><a href="" routerLink="/ViewTeacher">Catalogue Teacher</a></button>
        </div>
    
        
</div>
<br/>
<br/><br/>