/*button{
    width: 156px;
    margin: 12px;
}
.container{
    width: 500px;
    margin: 5px;
}
a{
    text-decoration: none;
    color:black;
}*/

.container{
    /* display: flex; */
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 100px;
}
a{
    text-decoration: none;
    color: black;
}
  .backRow{
    position:absolute;
    top:80px;
    left:20px;
}  
button:hover{
  background-color:#21a2b3ba;
 
   
}
a:hover{
  color:#2c5f93 ;
}