<div class="container">
    <div class="row backRow">
        <a class="btn" routerLink="/home">Back</a>
    </div>


    <div class="row">
        <h3>Welcome To Admin </h3>
    </div>

    <br/>
    
   
        
        <div class="row" >
            <h5>Select the option</h5>
          <button style="width:25%" class="btn "> <a a href=""  routerLink="/Maintain"> User Maintenance</a></button>
          <button style="width:25%" class="btn "><a href=""  routerLink="/Addbook">Add Book</a></button>
          <button style="width:25%" class="btn "><a href=""  routerLink="/Removebook">Remove Book</a></button>
          <button style="width:25%" class="btn "><a href=""  routerLink="/viewBook">Books Catalogue</a></button>
        </div>
    
        
</div>
