<div class="container-fluid">
    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <i class="fa fa-user-tie"></i>
              <h5 class="card-title textCenter">Admin</h5>
              
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-primary-outline" routerLink="/admin" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <i class="fa fa-book"></i>

              <h5 class="card-title textCenter">Librarian</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary" routerLink="/librarina">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <i class="fa fa-users"></i>

                <h5 class="card-title textCenter">Student</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" routerLink="/student">Get Started</a>
              </div>
            </div>
          </div>

          <a href="#" class="btn btn-primary" routerLink="/Demo">Get Started</a>

         
          <br/>
          <br/>
      </div>
</div>